/* Import Poppins & Rubik */
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&family=Rubik:wght@600&display=swap");

*,
*::after,
*::before {
  margin: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --color-primary: #2f3d56;
  --color-background: #f5f16e;
  --color-accent: #1eb3e2;
}

h1 {
  font-family: Rubik, sans-serif;
}

h2,
h3,
h4,
h5,
h6 p,
a {
  margin: 0;
  font-family: Poppins, sans-serif;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
